.header {
    max-width: calc(100% - 96px);
    padding-top: 28px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 700px) {
    .header {
        padding-top: 16px;
        max-width: calc(100% - 32px);
    }
}

@media screen and (max-width: 1000px) {
    .header {
        max-width: calc(100% - 48px);
    }
}