.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
}

place__paragraph:last-child {
    padding-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    .place__paragraph {
        margin: 0 16px;
    }
}