.place__paragraph {
    margin: 0;
    padding-top: 26px;
}

.place__paragraph:first-child {
    padding-top: 0px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        padding-top: 25px;
    }

}

@media screen and (max-width: 500px) {
    .place__paragraph {
        margin: 0 16px;
    }
}